#hero{
    background-image: url('./img/Decore.png');
    background-size: cover;
    background-position: center center;
    background-repeat:  no-repeat;
    /* background-attachment: fixed; */
}
#playdemo:hover{
    cursor: pointer;
    text-shadow: 0 0 3px red;
}
#title-hero{
    font-size: 50px;
    color: #181E4B;

}
.title-jadoo{
    color: #181E4B;
}
#btn-findOutMore{
    border-radius: 10px;
    border: 0;
    outline: 0;
}
.img-services{
    border-radius: 30px;
    min-height: 250px;
    cursor: pointer;
}
.img-services:hover{
    box-shadow: 0px 5px 15px -5px gray;
}
.img-services-hover{
    position: absolute;
}
.img-destinations{
    width: inherit;
    height: 400px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-bookatrip{
    box-shadow: 0 0 20px -10px gray;
    border-radius: 30px;
}
.icon-bookatrip i{
    background-color: #f5f5f5;
    border-radius: 50%;
}
.list-item-testimonials{
    display: none;
}
.show{
    display: block;
}

.btn-testimonials:hover{
    background-color: #cecece;
}
.wrap-testimonials{
    overflow: hidden;
}
#subscribe{
    background-image: url('./img/Group-subscribe.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    color: #5E6282;
}
#input-subscribe{
    /* width: 20em; */
    border-radius: 10px;
}
#input-subscribe::placeholder{
    font-family: 'Helvetica', FontAwesome, sans-serif;
    
}